{% extends 'base.html.twig' %}

{% block title %}Toutes nos recettes{% endblock %}

{% block body %}
    <h1>Toutes nos recettes</h1>

        {% include "partials/flash.html.twig" %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Durée</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.title }}</td>
                <td>{{ recette.content }}</td>
                <td>{{ recette.duration }}</td>
                <td>{{ recette.slug }}</td>
                <td>
                    <a href="{{ path('recette.show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('recette.edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recette.new') }}">Create new</a>
{% endblock %}
