{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | Contactez nous{% endblock %}

{% block body %}

{% include "partials/flash.html.twig" %}

    {{form_start(form)}}

    {{form_row(form.name)}}
    {{form_row(form.email)}}
    {{form_row(form.message)}}
    {{form_row(form.service)}}

<button class="btn btn-primary" type="submit">Envoyer</button>
    {{form_end(form)}}

{% endblock %}
